<div [formGroup]="disableOption">
  <button (click)="onDisable()">disable</button>
  <span formGroupName="opts">
    <label><input type="checkbox" formControlName="onlySelf">onlySelf</label>
    <label><input type="checkbox" formControlName="emitEvent">emitEvent</label>
  </span>
</div>
<div [formGroup]="enableOption">
  <button (click)="onEnable()">enable</button>
  <span formGroupName="opts">
    <label><input type="checkbox" formControlName="onlySelf">onlySelf</label>
    <label><input type="checkbox" formControlName="emitEvent">emitEvent</label>
  </span>
</div>
<div [formGroup]="markAsTouchedOption">
  <button (click)="onMarkAsTouched()">markAsTouched</button>
  <span formGroupName="opts">
    <label><input type="checkbox" formControlName="onlySelf">onlySelf</label>
    <label><input type="checkbox" formControlName="emitEvent">emitEvent</label>
  </span>
</div>
<div [formGroup]="markAsUntouchedOption">
  <button (click)="onMarkAsUntouched()">markAsUntouched</button>
  <span formGroupName="opts">
    <label><input type="checkbox" formControlName="onlySelf">onlySelf</label>
    <label><input type="checkbox" formControlName="emitEvent">emitEvent</label>
  </span>
</div>
<div [formGroup]="markAsDirtyOption">
  <button (click)="onMarkAsDirty()">markAsDirty</button>
  <span formGroupName="opts">
    <label><input type="checkbox" formControlName="onlySelf">onlySelf</label>
    <label><input type="checkbox" formControlName="emitEvent">emitEvent</label>
  </span>
</div>
<div [formGroup]="markAsPristineOption">
  <button (click)="onMarkAsPristine()">markAsPristine</button>
  <span formGroupName="opts">
    <label><input type="checkbox" formControlName="onlySelf">onlySelf</label>
    <label><input type="checkbox" formControlName="emitEvent">emitEvent</label>
  </span>
</div>
<div [formGroup]="markAsPendingOption">
  <button (click)="onMarkAsPending()">markAsPending</button>
  <span formGroupName="opts">
    <label><input type="checkbox" formControlName="onlySelf">onlySelf</label>
    <label><input type="checkbox" formControlName="emitEvent">emitEvent</label>
  </span>
</div>
<div [formGroup]="setValueOption">
  <button (click)="onSetValue()">setValue</button>
</div>
<div [formGroup]="resetOption">
  <button (click)="onReset()">resetValue</button>
</div>

