<article>
  <app-control-page-template>
    <span class="title">Decimal Input</span>
    <div class="description">実数値を入力するコンポーネント。整数部、小数部で入力する。</div>
    <div class="type">
      DecimalTemplate
      <div>
        <!-- TODO:コード用のコンポーネントを作る-->
      <pre>
    &#0123;
      integer: number;
      fraction: number;
    &#0124;</pre>
      </div>
    </div>
    <div class="inputs">
      <app-data-list>
        <dt>placeholder</dt>
        <dd>string</dd>
        <dd>プレースホルダー。<br>スペース区切りで実数部と小数部を指定する。</dd>
      </app-data-list>
    </div>
    <div class="validation">
      <ul>
        <li>整数部が整数でない場合エラー。</li>
        <li>小数部が整数でない場合エラー</li>
        <li>小数部が負の場合エラー</li>
      </ul>
    </div>
    <div>
      <app-control-field label="実数入力">
        <app-decimal-input [formControl]="control"/>
      </app-control-field>
    </div>
    <div class="commands">
      <app-control-command-set [control]="control"></app-control-command-set>
    </div>
  </app-control-page-template>

</article>
