<dl>
  <dt>Value</dt>
  <dd>{{control().value | json}}</dd>
  <dt>Valid</dt>
  <dd>{{control().valid}}</dd>
  <dt>Invalid</dt>
  <dd>{{control().invalid}}</dd>
  <dt>Pending</dt>
  <dd>{{control().pending}}</dd>
  <dt>Errors</dt>
  <dd>{{control().errors | json}}</dd>
  <dt>Disabled</dt>
  <dd>{{control().disabled}}</dd>
  <dt>Enabled</dt>
  <dd>{{control().enabled}}</dd>
  <dt>Pristine</dt>
  <dd>{{control().pristine}}</dd>
  <dt>Dirty</dt>
  <dd>{{control().dirty}}</dd>
  <dt>Touched</dt>
  <dd>{{control().touched}}</dd>
  <dt>Untouched</dt>
  <dd>{{control().untouched}}</dd>
  <dt>Status</dt>
  <dd>{{control().status}}</dd>
</dl>
