<dl>
  <dt class="single"><span appLabel>Value</span></dt>
  <dd class="single">{{control().value | json}}</dd>
  <dt class="single"><span appLabel>Errors</span></dt>
  <dd class="single">{{control().errors | json}}</dd>
  <div class="pair">
    <dt><span appLabel>Valid</span></dt>
    <dd>{{control().valid}}</dd>
  </div>
  <div class="pair">
    <dt><span appLabel>Invalid</span></dt>
    <dd>{{control().invalid}}</dd>
  </div>
  <dt class="single"><span appLabel>Pending</span></dt>
  <dd class="single">{{control().pending}}</dd>
  <div class="pair">
    <dt><span appLabel>Disabled</span></dt>
    <dd>{{control().disabled}}</dd>
  </div>
  <div class="pair">
    <dt><span appLabel>Enabled</span></dt>
    <dd>{{control().enabled}}</dd>
  </div>
  <div class="pair">
    <dt><span appLabel>Pristine</span></dt>
    <dd>{{control().pristine}}</dd>
  </div>
  <div class="pair">
    <dt><span appLabel>Dirty</span></dt>
    <dd>{{control().dirty}}</dd>
  </div>
  <div class="pair">
    <dt><span appLabel>Touched</span></dt>
    <dd>{{control().touched}}</dd>
  </div>
  <div class="pair">
    <dt><span appLabel>Untouched</span></dt>
    <dd>{{control().untouched}}</dd>
  </div>
  <dt class="single"><span appLabel>Status</span></dt>
  <dd class="single">{{control().status}}</dd>
  <dt class="single"><span appLabel>UpdateOn</span></dt>
  <dd class="single">{{control().updateOn}}</dd>
</dl>
