<article>
  <header>
    <h3><ng-content select=".title">タイトル未入力</ng-content></h3>
  </header>
  <div class="information">
    <section>
      <h4>概要</h4>
      <ng-content select=".description">未入力</ng-content>
    </section>
    @if (hasAlert) {
      <section class="alert">
        <h4>アラート</h4>
        <p><ng-content select=".alert"></ng-content></p>
      </section>
    }
    <section>
      <h4>適合する型</h4>
      <ng-content select=".type">未入力</ng-content>
    </section>
    <section>
      <h4>Inputs</h4>
      <ng-content select=".inputs">なし</ng-content>
    </section>
    <section>
      <h4>Outputs</h4>
      <ng-content select=".inputs">なし</ng-content>
    </section>
    <section>
      <h4>独自バリデーション</h4>
      <ng-content select=".validation">なし</ng-content>
    </section>
  </div>
  <div class="playground">
    <section>
      <h4>コンポーネントサンプル</h4>
      <ng-content></ng-content>
    </section>
    <section>
      <h4>コントロールステータス</h4>
<!--      @if (control) {-->
<!--        <app-control-status [control]="control"></app-control-status>-->
<!--      }-->
      @if (currentControl) {
        <app-control-status [control]="currentControl"></app-control-status>
        @if (isMultiControl) {
          <app-counter [(ngModel)]="counter" [min]="0" [max]="controlLength - 1"></app-counter>
        }
      }
    </section>
  </div>

</article>
