<article>
  <app-control-page-template>
    <span class="title">Counter</span>
    <div class="description">数字をカウントアップ/ダウンで入力する。</div>
    <div class="type">
      <code>number</code>
    </div>
    <div class="inputs">
      <app-data-list>
        <dt>step</dt>
        <dd>number</dd>
        <dd>1ステップの増減量</dd>
        <dt>min</dt>
        <dd>number</dd>
        <dd>最小値</dd>
        <dt>max</dt>
        <dd>number</dd>
        <dd>最大値</dd>
      </app-data-list>
    </div>
    <app-counter [formControl]="control"></app-counter>
    <div class="commands">
      <app-control-command-set [control]="control"></app-control-command-set>
    </div>
    <div class="set-inputs">
<!--      <app-input-setter [properties]="properties" (propsChange)="onInputPropertyChange($event)"></app-input-setter>-->
    </div>
  </app-control-page-template>

</article>
