<article>
  <app-control-page-template>
    <span class="title">Counter</span>
    <div class="description">数字をカウントアップ/ダウンで入力する。</div>
    <div class="alert" #alert>
      最大値、最小値を持つならバリデーションすべきか？(min/maxバリデータもあるのに？でも検証しないのも微妙)
    </div>
    <div class="type">
      <code>number</code>
    </div>
    <div class="inputs">
      <app-data-list>
        <dt>step</dt>
        <dd>number</dd>
        <dd>1ステップの増減量</dd>
        <dt>min</dt>
        <dd>number</dd>
        <dd>最小値</dd>
        <dt>max</dt>
        <dd>number</dd>
        <dd>最大値</dd>
      </app-data-list>
    </div>
    <app-counter [formControl]="control"></app-counter>
  </app-control-page-template>

</article>
