<app-control-page-template>
  <div class="title">ToggleButton</div>
  <div class="description">複数の項目から選択する。</div>
  <!--アラート: 未実装-->
  <div class="alert" #alert>
    <p>未実装</p>
  </div>
  <div class="type">
    <code>T</code>
  </div>
  <div class="inputs">
    <app-data-list>
      <dt>list</dt>
      <dd><code>Options&#60;T&#62;</code></dd>
      <dd>選択肢</dd>
    </app-data-list>
  </div>
  <div class="validation">
    <ul>
      <li>選択肢以外の値の場合エラー</li>
    </ul>
  </div>

  <div>
    <app-toggle-button [formControl]="control" [list]="list"></app-toggle-button>
  </div>

  <div class="commands">
    <app-control-command-set [control]="control" [valueType]="'string'"></app-control-command-set>

  </div>

</app-control-page-template>
