/* You can add global styles to this file, and also import other style files */
/* リセット */
* {
  margin: 0;
  padding: 0;
}

/* この辺はきちんとデザイントークン作っていく */
input, select, textarea, button, .control-outline {
  border: 1px solid #555555;
  border-radius: 3px;
  padding: 0.5rem;
  font-size: 1rem;
}

input[type=number] {
  text-align: right;
}

button {
  min-width: 2.15rem;
  background-color: #555555;
  color: #ffffff;
}

button:hover {
  background-color: #777777;
}

button:active {
  background-color: #cccccc;
  color: #000000;
}

button:disabled {
  background-color: #cccccc;
  color: #555555;
}

markdown {
  table {
    border-spacing: 0;
  }

  th, tr, td {
    padding: 0.3rem;
    box-shadow: #777777 0 0 1px;
  }

  code {
    background-color: #eee;
    padding: 0.2rem;
    border-radius: 2px;
  }

  h1, h2, h3, h4, h5, h6{
    margin-top: 1.5rem;
    margin-bottom: 0.5rem;
  }

  p, ul, ol, pre {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }

  ul, ol {
    padding-left: 1rem;
  }

  p {
    text-indent: 1rem;
  }
}
h1 {
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
}

h2 {
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
}

