<app-control-page-template>
  <div class="title">Json Input</div>
  <div class="description">Jsonをパースする。</div>
  <div class="alert" #alert>
    入力中に整形が消される。
  </div>
  <div class="type">
    入力はJSON likeな<code>string</code>。<br>
    valueはパースされたオブジェクト。パースできない場合はnull。
  </div>
  <div class="validation">
    <ul>
      <li>
        Jsonパースできない場合エラー。
      </li>
    </ul>
  </div>
  <div>
    <app-control-field>
      <app-json-input [formControl]="control"/>
    </app-control-field>
  </div>
</app-control-page-template>
